
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground</title>
  </head>
  <body>

    <h1>This is my personal playground to experiment with the models</h1>


    {% if False %}

    <ul>
      <h1>Book Count (displaying all books) : {{all_books|length}}</h1>

      {% for book in all_books %}
      <li>{{book.title | title }}</li>
      {% endfor %}
    </ul>

    {% endif %}


  </body>
</html>
