
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground</title>
  </head>
  <body>

    <h1>This is my personal playground to experiment with the models</h1>


    {% if True %}

    <ul>
      <h1>Product Count: {{all_products|length}}</h1>

      {% for product in all_products %}
      <li>{{product.product_name | title }}</li>
      {% endfor %}
    </ul>

    {% endif %}


  </body>
</html>
